{% extends 'partials/base.html' %}

{% block conteudo %}
<div class="container mt-4 mx-auto">

  <div class="card mb-4 mx-auto" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-7">
        <img src="{{medico.img.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title">{{medico.nome_completo}}</h5>
          <p class="card-text">Especialidade: {{medico.especialidade}}</p>
          <p class="card-text">CRM: {{medico.crm}}</p>
          <p class="card-text">Idade: {{medico.idade}}</p>
          <p class="card-text">Endereco: {{medico.endereco}}</p>
          <p class="card-text">CEP: {{medico.cep}}</p>
              <a href="{% url 'formu:formulario' medico.id%}" class="btn btn-primary text-decoration-none">Agendar consulta</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock conteudo %}